:root {
    --primary-color: rgb(57, 9, 76);
    --primary-color-dark: #16011d;
    --primary-color-light: rgb(78, 12, 136);
    --dark-grey: #464646;
    --light-grey: #878787;
    --dark-gradient: linear-gradient(270deg,rgb(23, 1, 29) 44%, rgb(57, 9, 76) 100%);
    --black-gradient: linear-gradient(90deg,rgb(25, 1, 29) 0%, rgba(0, 0, 0, 1) 100%);
    --yellow: #FFE100;

    --font-family: Raleway, Roboto, sans-serif;
    --title-font: calc(2*var(--index));
    --subtitle-font: calc(1.5*var(--index));
    --primary-font: calc(1.2*var(--index));
    --subprimary-font: calc(1.0*var(--index));
    --caption-font: calc(0.8*var(--index));
    --subcaption-font: calc(0.7*var(--index));


    --index: calc(1vh + 1vw);

    --border-radius: calc(1*var(--index));
    --left-padding: 3.5vh;
    --page-main-padding: 6vw;
    --page-vertical-gap: 12vh;
    --page-vertical-offset: 12vh;
}

*{
    font-family: Raleway, Roboto, sans-serif;
}

